/* on projectcards.jsx */

.paginate-section {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

.pagination-list {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
    margin: auto;
  }
 
.pagination-list-item {
    cursor: pointer;
    background-color: var(--color-primary-dark-1);
    color: var(--color-light-1);
    padding: 0.3rem 0.5rem;
    border: var(--border-button);
    border-radius: var(--border-radius-button);
}

.pagination-list-item:hover {
background-color: var(--color-primary-dark-2);
}

.pagination-list-item.active {
background-color: var(--color-primary-light-4);
}



