@import '../../index.css';

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 10px 10px;
  width: 350px;
}

.project-image img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: var(--border-radius-container);  
}

.project-card-header {
  padding: 10px;
  margin: 0px 10px;
  text-align: center;

}