.project-creation-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  margin: 1em;
}

select {
  font-family: inherit;
  font-weight: 400;
  color: var(--color-dark-2);
}


select option {
  color: var(--color-dark-2);
  font-size: var(--small-font-size);
  cursor: pointer;
  margin: 4px 0px;
}

input[type="text"],
input[type="url"],
select {
  height: 100%;
  width: 95%;
  padding: 10px;
  margin: 10px;
  border: var(--border-container);
  border-radius: 4px;
}


@media (min-width: 800px) {
  .projectCreationForm {
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    min-width: 45rem;
    align-self: center;
  }
}
