.projectPage {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
  padding: 25px;
  width: 75%;
  margin: auto;
  text-align: center;
}

.projectPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0px;
  padding: 5px;
  border: 1px solid var(--color-light-shades);
  background-color: var(--color-light-shades);
  max-width: 50rem;
  align-self: center;
}

.projectPanel img {
  width: 80%;
  align-self: center;
  margin: 25px 0px;
}

.projectPanel p {
  width: 80%;
  align-self: center;
  text-align: center;
  line-height: 2;
  margin: 25px 0px;
}

.fundingProgress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 0px;
}

.fundingProgress p {
  text-align: center;
  margin-top: 5px;
}

.projectStats {
  margin-top: 25px;
  font-size: var(--small-font-size);
}

.projectPledgeList {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-shades);
  padding: 25px;
  margin-bottom: 25px;
}

.projectPledgeList h3 {
  text-align: center;
  margin-bottom: 25px;
}

.pledgeListing {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 40rem;
  align-self: center;
}

.pledgeListing li:nth-child(odd) {
  background-color: var(--color-light-accent-2);
}
.pledgeListing li:nth-child(even) {
  background-color: var(--color-light-shades);
}

.backgroundImage {
  background: url(/river-pebbles.jpg);
  background-repeat: repeat;
  border-radius: 5px;
}

.pledgeListing ul {
  list-style: none;
}

.pledgeListing li {
  text-align: start;
  padding: 15px;
  border: 1px solid var(--color-main);
  width: 80%;
  min-width: 25rem;
  margin-right: 2px;
}

.pledgeListing li p {
  margin: 15px 0px;
}

.pledgeDetails {
  border: 1px solid var(--color-main);
}

.pledgeListing li a {
  text-decoration: none;
}

.pledgedAgo {
  font-size: var(--small-font-size);
}

@media (min-width: 50rem) {
}
