.projectPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main-background);
  margin: auto;
}

.project-img-container img {
  width: 800px;
  height: 430px;
  object-fit: cover;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  margin: 25px 10px;
  max-width: 50rem;
  align-items: center;
}

.project-summary {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 5px;
}

.projectPage h3 {
  margin-top: 25px;
}

.project-summary p {
  line-height: 1.5;
  margin: 15px 25px;
  flex: 2;
}

.fundingProgress {
  background-color: var(--color-light-2);
  border-radius: var(--border-radius-container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  margin-right: 15px;
  flex: 1;
}

.fundingProgress p  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin: 0px;
  font-size: var(--extra-small-font-size);
}

.supporting-text-section {
  background-color: var(--color-light-2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 60px;
  margin-bottom: -30px;
}

.supporting-text-section div {
  background-color: var(--color-light-1);
  width: 60%;
  padding: 25px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: var(--border-radius-container);

}

.supporting-text-section a {
  cursor: pointer;
  background-color: var(--color-dark-2);
  color: var(--color-light-1);
  padding: 0.4rem 0.6rem;
  border: var(--border-button);
  border-radius: var(--border-radius-button);
  margin: auto;
}

.projectPledgeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-light-1);
  border-radius: var(--border-radius-container);
}

.projectPledgeList h3 {
  align-self: flex-start;
  margin: 25px;

}

.pledge-card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}