.pledgeForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pledge-form {
  display: flex;
  flex-direction: column;
}

.pledgeForm p {
  margin-bottom: 10px;
  text-align: center;
}

.pledgeForm h3 {
  color: var(--color-dark-2);
}

#amount {
  border-radius: 4px;
}
#comment {
  border-radius: 4px;
  margin-bottom: 25px;
  padding-bottom: 5em;
  width: 100%;
}


.formDiv {
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-left: 15px;
}

input::placeholder {
  font-size: var(--small-font-size);
}

#pledgeAnonymously {
  margin-bottom: 10px;;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

