.pledgeForm {
  display: flex;
  flex-direction: column;
}

#amount {
  border: 5px solid var(--color-light-shades);
  border-radius: 4px;
}
#comment {
  border: 5px solid var(--color-light-shades);
  border-radius: 4px;
  margin-bottom: 25px;
  padding-bottom: 20em;
}

.formDiv {
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-left: 25px;
}

#pledgeAnonymously {
  display: flex;
  justify-content: center;
}

.pledgeButton[type="submit"] {
  background-color: var(--color-light-accent-2);
}

.pledgeButton:hover {
  background-color: var(--color-light-shades);
  color: var(--color-light-accent-2);
  font-weight: var(--font-weight-heavy);
}

@media (min-width: 50rem) {
}
