body {
  background-color: var(--color-main-background);
  font-family: var(--main-font);
}

.featured-projects-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}




