body {
  background-color: var(--color-main);
  font-family: var(--main-font);
}

#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 10px;
  justify-content: space-around;
  background-color: var(--color-main);
}
