
.signupPage h2 {
    text-align: center;
    padding: 10px;
    color: var(--color-dark-2);
    margin-top: 30px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


.login-container a {
    color: var(--color-primary-light-4);
    font-weight: 500;
    text-decoration: underline;
}

.signup-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

@media (min-width: 640px) {
    .signup-page-contents {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .image-container {
        flex: 2;
    }

    .signup-image {
        max-width: 100%;
        object-fit: cover;
        height: 860px;
        width: 690px;
    }

}

@media (min-width: 800px) {
    .signupForm {
        min-width: 20rem;
        align-self: center;
    }

    .signup-form-section {
        min-width: 400px;
    }
}

@media (min-width: 1150px) {
    .signup-image {
        max-width: 100%;
        object-fit: cover;
        object-position: center bottom;
        height: 850px;
        width: 1250px;
    }


}

@media (min-width: 1150px) {
    .signup-page-contents {
        justify-content: flex-start;
        gap: 50px;

    }

    .signup-form-section {
        margin: auto;
    }

    .image-container {
        max-width: 1250px;
        
    }
}