body {
  background-color: var(--color-dark-accent-1);
  font-family: var(--main-font);
}

#project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
  background-color: var(--color-dark-accent-1);
}

#pledge-list {
  display: flexbox;
  flex-direction: column;
  background-color: var(--color-main);
}
