nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: var(--color-dark-shades);
  box-shadow: var(--box-shadow);
  margin-bottom: 25px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--color-light-accent-2);
  font-size: 1.2rem;
  font-weight: var(--font-weight-heavy);
}

li a:hover {
  color: var(--color-light-shades);
}
