nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: #a7bbbe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
}
