/* Generic form styling */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 50px;
  margin: 1em;
  border: 3px solid var(--color-light-shades);
  border-radius: 4px;
}

label {
  color: var(--color-dark-shades);
  font-weight: var(--font-weight-heavy);
  line-height: 2;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 100%;
  width: 95%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: var(--color-light-accent-1);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10em;
  align-self: center;
}

button:hover {
  background-color: var(--color-light-accent-1);
}

@media (min-width: 50rem) {
  .loginForm {
    display: flex;
    flex-direction: column;
  }

  .signupForm {
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    min-width: 45rem;
    align-self: center;
  }
}
