/* Generic form styling */
login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  margin: 1em;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

label {
  color: var(--color-warm-dark-2);
  font-weight: var(--font-weight-heavy);
  line-height: 2;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin: 10px;
  border: var(--border-container);
  border-radius: 4px;
}

button {
  margin-top: 25px;
  padding: 0.4rem 0.6rem;
  background-color: var(--color-dark-2);
  color: var(--color-light-1);
  border: var(--border-button);
  border-radius: var(--border-radius-button);
  cursor: pointer;
  align-self: center;
}

button:hover {
  background-color: var(--color-light-2);
}

@media (min-width: 640px) {
  .login-form {
    min-height: 60vh;
    justify-content: center;
    gap: 5px
}
}

@media (min-width: 800px) {
  .loginForm {
    display: flex;
    flex-direction: column;
  }

  .login-form {
    min-width: 45rem;
    align-self: center;
  }

}
