.signupForm {
    display: flex;
    flex-direction: column;
    border: none;
    width: 80%;
  }

label span {
    font-size: var(--extra-small-font-size);
}

p {
    margin-top: 25px;
}

p a {
    text-decoration: underline;
}