nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
  background-color: var(--color-light-shades);
  box-shadow: var(--box-shadow);
}

nav ul {
  gap: 1rem;
}

nav li {
  margin-top: 0.5rem;
  list-style: none;
  text-align: right;
}

nav li a {
  text-decoration: none;
  color: var(--color-dark-shades);
  font-size: var(--link-font-size);
  font-weight: var(--font-weight-heavy);
}

nav li a:hover {
  color: var(--color-light-accent-1);
}
