
.topNav {
  overflow: hidden;
  background-color: var(--color-light-1);
  position: relative;
}

.wave-icon {
  display: flex;
  align-items: center;
}

.nav-hideItem {
  display: none;
}

.nav-showItem {
  display: block;
}

.topNav a {
  color: var(--color-warm-dark-2);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
  font-weight: var(--font-weight-heavy);
  display: block;
}

.topNav a span {
  color: var(--color-primary-light-4);
}

.nav-Links a {
  display: block;
  font-size: 14px;
}

.wave-icon svg {
  margin-left: 15px;
  fill: var(--color-primary-light-4);
}

.topNav a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topNav a.icon:hover {
  cursor: pointer;
}

.nav-Links a:hover {
  background-color: var(--color-light-2);
  color: var(--color-warm-dark-3);
}


@media screen and (min-width: 640px) {
  .topNav {
      display: flex;
  }

  .nav-Links {
      display: flex;
      flex: 1;
      justify-content: flex-end;
  }

  .hamburgerIcon {
      display: none !important;
  }

  .nav-hideItem {
      display: flex !important;
  }

}

@media (min-width: 768px) {
  .topNav a {
      font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .topNav a {
      font-size: 17px;
  }
}
