
.topNav {
  overflow: hidden;
  background-color: var(--color-dark-2);
  position: relative;
}

.wave-icon {
  display: flex;
  align-items: center;
}

.nav-hideItem {
  display: none;
}

.nav-showItem {
  display: block;
}

.topNav a {
  color: var(--color-light-1);
  padding: 14px 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 26px;
  font-weight: var(--font-weight-heavy);
  display: block;
}

.topNav a span {
  color: var(--color-primary-light-4);
}

.nav-Links a {
  display: block;
  font-size: 14px;
}

.wave-icon svg {
  margin-left: 15px;
  fill: var(--color-primary-light-4);
}

.topNav a.icon {
  position: absolute;
  right: 7px;
  top: 7px;
}

.topNav a.icon:hover {
  cursor: pointer;
}

.nav-Links a:hover {
  background-color: var(--color-light-2);
  color: var(--color-warm-dark-3);
  border-radius: var(--border-radius-button);
}


@media screen and (min-width: 640px) {
  .topNav {
      display: flex;
  }

  .nav-Links {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
  }

  .hamburgerIcon {
      display: none !important;
  }

  .nav-hideItem {
      display: flex !important;
  }

}

@media (min-width: 768px) {
  .topNav a {
      font-size: 26px;
  }
  .nav-Links a {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .topNav a {
      font-size: 32px;
  }

  .nav-Links a {
    font-size: 20px;
  }
}


